<!-- Meta -->
<meta name="theme-color" content="#fafafa" /> <meta charset="utf-8" />
<title>Linguini Mission Control</title> <meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Lobster|VT323"
  rel="stylesheet"
/>

<!-- noUISlider -->
<link href="/css/nouislider.css" rel="stylesheet" />

<!-- Theme CSS -->
<link href="/css/argon.css" rel="stylesheet" />
<link rel="stylesheet" href="css/main.css" />

<!-- JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/argon.js"></script>